<ng-select class="lang-select primary-lang" [searchable]="false" [items]="languages" [(ngModel)]="primaryLanguageCode" bindLabel="language" bindValue="flagCode">
    <ng-template ng-label-tmp let-item="item">
        <span class="flag-icon flag-icon-{{item.flagCode}}"></span>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index">
        <span class="flag-icon flag-icon-{{item.flagCode}}"></span>
    </ng-template>
</ng-select>
<ng-select class="lang-select secondary-lang" [searchable]="false" [items]="languages" [(ngModel)]="secondaryLanguageCode" bindLabel="language" bindValue="flagCode">
    <ng-template ng-label-tmp let-item="item">
        <span class="flag-icon flag-icon-{{item.flagCode}}"></span>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index">
        <span class="flag-icon flag-icon-{{item.flagCode}}"></span>
    </ng-template>
</ng-select>

<!--Call MS text translate using selected languages-->


  <mat-tab-group [color]="header.color" [backgroundColor]="header.background">
    <mat-tab label="Location"> 
      <page-location></page-location>
      <div class="container">

      </div>
    </mat-tab>

    <mat-tab label="Landmarks">
      <div class="container">
        <div class="locations-row-container">
            <button mat-raised-button color="primary" class="location-button east" (click)="updateDropdown(campuses.east.name)">Landmarks</button>
            <button mat-raised-button color="primary" class="location-button west"  (click)="updateDropdown(campuses.west.name)">Food/Dining</button>
            <button mat-raised-button color="primary" class="location-button central" (click)="updateDropdown(campuses.central.name)">Residence Halls</button>
        </div>
      </div>
    </mat-tab>
    
    <mat-tab label="Transportation" routerLink="/transportation">Transportation</mat-tab>
  </mat-tab-group>