
  <mat-tab-group [color]="header.color" [backgroundColor]="header.background">
    <mat-tab label="First"> 
      <div class="container">

        <div class="locations-row-container">
            <label class="location-label">Select your location:</label>
            <button mat-raised-button color="primary" class="location-button east" (click)="updateDropdown(campuses.east.name)">East</button>
            <button mat-raised-button color="primary" class="location-button central" (click)="updateDropdown(campuses.central.name)">Central</button>
            <button mat-raised-button color="primary" class="location-button west"  (click)="updateDropdown(campuses.west.name)">West</button>
        </div>

        <div class="dorms-row-container">
          <label class="dorm-label">Select your dorm:</label>
          <form class="dorm-form">
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
        </div>
          
      </div>
    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  
  