/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */

/*MISCELLANEOUS*/
.blue {
	background-color: #0f3b82 !important;
}

.orange {
	background-color: #f49b02 !important;
}

.green {
	background-color: #41722d !important;
}

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.version-info {
  font-size: 8pt;
  float: right;
}

body {
	height: 100%;
	background-image: url('www/imgs/bkgd-blur.png');
  background-repeat: no-repeat;
}

.example-button-toggle-label {
	display: inline-block;
	margin: 16px;
  }

.mat-tab-body-content, mat-tab-body, .mat-tab-body-wrapper {
	  height: 100vh;
}

.mat-tab-labels {
	background-color: #0f3b82 !important;
}

/*CONTAINERS*/
.container {
	display: inline-flex; /* or flex */
	margin-top: 40px;
	height: 30vh;
	width: 100%;
	flex-direction: column;
	justify-content: space-around
}

.container.landmarks {
	display: inline-flex; /* or flex */
	height: 10vh;
	width: 100%;
	flex-direction: column;
	justify-content: space-around
}

 .flex-container {
	justify-content: center;
	margin-top: 40px;
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container > div {
	width: 300px;
	height: 300px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}

.flex-grid-elem {
	width: 300px;
	height: 300px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	flex-wrap: wrap;
} 

/* .grid {
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  }
.grid > div {
	display: flex; 
	flex-basis: calc(33.33% - 14px);  
	justify-content: center;
	flex-direction: column;
}

.grid > div:last-child {
	display: flex; 
	margin-top: 0px;
	flex-basis: calc(100% - 22px);  
	justify-content: center;
	flex-direction: column;
}

.grid > div > div {
	display: flex;
	justify-content: center;
	flex-direction: row;
} */

.box { margin: 10px 0 10px 10px}
.box1 { background-image: './www/imgs/chapel.png'; }
.box2 { background-color: orange; }
.box3 { background-color: purple; }
.box4 { background-color: grey; }

.locations-row-container, .dorms-row-container {
	display: inline-flex; /* or flex */
	width: 100%;
	flex-direction: row;
}

/*BUTTONS*/ 
/*location*/
.east {
	background-color: #0f3b82 !important;
}

.west {
	background-color: #f49b02 !important;
}

.central {
	background-color: #41722d !important;
}

.dorm-label, .location-label {
	margin-left: 169px;
}

.location-button.east {
	margin-left: 190px;
}

.location-button.west {
	margin-left: 50px;
}

.location-button.central {
	margin-left: 50px;
}
/*location*/
.landmark-button.east {
	margin-right: 70px;
}

.landmark-button.west {
	margin-left: 100px;
}

.landmark-button.central {
	margin-left: 220px;
}
/*transportation*/
/*misc*/
.button {
	position: absolute;
	z-index: 10;
	margin: 8px;
}

.apply-button {
	right: 70px;
}

.submit-button {
	left: 30px;
	align-self: center;
	background-color: #0f3b82 !important;
}

/*FORMS*/
.dorm-form {
	margin-left: 190px;
}

.dorm-form, mat-form-field {
	width: 400px;
}

.location-button, .location-label, .dorm-label {
	align-self: center;
}

.ng-select.lang-select {
	width: 65px;
	position: absolute;
	display: inline;
	z-index: 10;
	margin: 5px;
}

.primary-lang {
	right: 115px;
	width: 65px;
	position: initial;
	display: inline;
	z-index: 10;
	margin: 5px;
}

mat-icon.mat-icon.mat-accent.toggle-button {
	right: 75px;
	font-size: 25pt;
	text-align: center;
	position: absolute;
	z-index: 10;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}

.secondary-lang {
	right: 0;
}

span.ng-clear-wrapper {
	display: none;
}

h2 {
	text-align: center;
	z-index: 10;
}

mat-grid-tile, mat-grid-list {
	background: lightblue;
	z-index: 10;
}

mat-icon {
	z-index: 10;
}